<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bluerock.dao.FileMetadataMapper">
    <resultMap id="BaseResultMap" type="bluerock.domain.FileMetadata">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="bucket_name" jdbcType="VARCHAR" property="bucketName"/>
        <result column="object_name" jdbcType="VARCHAR" property="objectName"/>
        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="directory_id" jdbcType="BIGINT" property="directoryId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
    </resultMap>

    <select id="showFilesByConditions" resultMap="BaseResultMap">
        SELECT
            id,
            bucket_name,
            object_name,
            file_name,
            url,
            directory_id,
            user_id,
            state
        FROM file_metadata
        WHERE user_id = #{userId}
        <if test="parentDirectoryId != null">
            AND directory_id = #{parentDirectoryId}
        </if>
        <if test="parentDirectoryId == null">
            AND directory_id IS NULL
        </if>
        <if test="pattern != null and pattern != ''">
            AND file_name LIKE CONCAT('%', #{pattern}, '%')
        </if>
        <if test="sortField != null and sortField != ''">
            ORDER BY ${sortField} ${sortOrder}
        </if>
    </select>

    <select id="countFileByCondition" resultType="int">
        SELECT COUNT(*)
        FROM file_metadata
        WHERE user_id = #{userId}
          AND file_name = #{name}
          AND directory_id = #{parentDirectoryId}
    </select>

    <select id="getFileMetadataByIdAndUserId" resultMap="BaseResultMap">
        SELECT id,
               bucket_name,
               object_name,
               file_name,
               url,
               directory_id,
               user_id,
               state
        FROM file_metadata
        WHERE id = #{id}
          AND user_id = #{userId}
    </select>

    <insert id="insert">
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>

        INSERT INTO file_metadata
        (
            bucket_name,
            object_name,
            file_name,
            directory_id,
            user_id,
            state
        )
        VALUES
        (#{bucketName}, #{objectName}, #{fileName}, #{directoryId}, #{userId}, #{inTrash})
    </insert>

    <select id="getFilesInDirectories" resultMap="BaseResultMap">
        SELECT id, bucket_name, object_name
        FROM file_metadata
        WHERE user_id = #{userId}
          AND directory_id IN
        <foreach collection="directoryIds" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <delete id="deleteFilesByIds">
        DELETE FROM file_metadata
        WHERE user_id = #{userId}
          AND id IN
            <foreach collection="fileIds" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
    </delete>

    <select id="countFileByIdAndUserId" resultType="int">
        SELECT COUNT(*) FROM file_metadata WHERE id = #{id} AND user_id = #{userId}
    </select>

    <update id="updateNameById">
        UPDATE file_metadata SET file_name = #{name} WHERE id = #{id} AND user_id = #{userId}
    </update>

    <select id="getFileIdsNotBelongToUser" resultType="long">
        SELECT id
        FROM file_metadata
        WHERE user_id != #{userId}
          AND id IN
              <foreach collection="fileIds" open="(" close=")" item="fileId" separator=",">
                  #{fileId}
              </foreach>
    </select>

    <select id="getFileIdsNotInDirectory" resultType="long">
        SELECT id
        FROM file_metadata
        WHERE directory_id = #{directoryId}
          AND id IN
              <foreach collection="fileIds" open="(" close=")" item="fileId" separator=",">
                  #{fileId}
              </foreach>
    </select>

    <update id="batchSetDirectoryId">
        UPDATE file_metadata
        SET directory_id = #{directoryId}
        WHERE id IN
            <foreach collection="fileIds" open="(" close=")" item="fileId" separator=",">
                #{fileId}
            </foreach>
    </update>

    <update id="setUrlById">
        UPDATE file_metadata
        SET url = #{url}
        WHERE id = #{id}
    </update>
</mapper>